

<h1>Menu</h1>

<table class="table">
  <thead >
  	<tr>
 	<th>ID</th>
 	<th>Total</th>
  <th>User</th>
  <th>comments</th>
    </tr>
  </thead>
  <tbody>
		<% @orders.each do |order| %>
    <!-- dalam masalah loop..yang di loop tr nya -->
    		<tr>
    			<td><%= link_to order.id, order_path(order) %></td>
					<td>
					  <%= number_to_currency(order.ammount, unit: "Rp.", format: "%u %n") %>
					</td>
          <td>
            <%= order.user.name %>
          </td>
          <td><%= order.comment %></td>

				</tr>
	</tbody>

<% end %>

</table>