<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide"> 
		<div class="columns">
			<div class="three-third">
			<% @category.foods.each do |show| %>
			<h2 class="title"><%= show.name %></h2>
			<% end %>
		  </div>
    </div>
	</div>	  
</div>