<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= yield :head %>
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Website Title</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "applications" %>
	<!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
	<link rel="shortcut icon" href="favicon.ico" />
		
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- ============= HEADER STARTS HERE ============== -->
		<div id="header-wrapper">
				
		        <div id="header">
					<!-- WEBSITE LOGO -->
		            <a href="index.html">
		            	<%= image_tag "logo.png", :alt => "Food Recipes", :class => "logo" %>
		            
				</div><!-- end of header div -->
				
                <!-- NAVIGATION BAR STARTS HERE -->
		        <div id="nav-wrap">
						<div class="inn-nav clearfix">
		                		
		                        <!-- MAIN NAVIGATION STARTS HERE -->
								<ul class="nav">
										<li class="active"><a href="index.html">Home</a></li>
										<li>
												<a href="#">Sliders</a>
												<ul>
														<li><a href="basic-slider.html">Basic Slider</a></li>
														<li><a href="index.html">Right Info Slider</a></li>
														<li><a href="nivo-slider.html">Nivo Slider</a></li>
														<li><a href="accordion-slider.html">Accordion Slider</a></li>
														<li><a href="thumb-slider.html">Thumbnail Slider</a></li>
												
												</ul>
										</li>
										<li><a href="recipes.html">Recent Recipes</a></li>
                                        <li>
												<a href="single-sb.html">Recipe Detail</a>
												<ul>
														<li><a href="single-sb.html">Variation One</a></li>
														<li><a href="single-full.html">Variation Two</a></li>
												</ul>
										</li>
										<li><a href="services.html">Services</a></li>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="single.html">Single Post</a></li>										
                                        <li>
											<a href="features.html">Features</a>
											<ul>
												<li><a href="page.html">Full Width</a></li>
												<li><a href="faq.html">FAQ</a></li>
												<li><a href="features.html">Additional Features</a></li>												
											</ul>
										</li>										
										<li><a href="contact.html">Contact Us</a></li>
								</ul><!-- end of nav ul -->
								<!-- MAIN NAVIGATION ENDS HERE -->
		                        
		                        <!-- SOCIAL NAVIGATION -->
								<ul class="social-nav">
		                                <li class="twitter"><a href="#"></a></li>
		                                <li class="facebook"><a href="#"></a></li>
		                                <li class="flickr"><a href="#"></a></li>
		                                <li class="rss"><a href="#"></a></li>
								</ul><!-- end of social-nav ul -->
						</div>
				</div><!-- end of nav-wrap -->
				<!-- NAVIGATION BAR ENDS HERE -->
		
				<span class="w-pet-border"></span>
		
		</div><!-- end of header-wrapper div -->

<!-- ============= HEADER ENDS HERE ============== -->


<!-- ============= CONTAINER STARTS HERE ============== -->
		
        <div id="container">
		
		        <!-- WEBSITE SEARCH STARTS HERE -->    	
				<div class="top-search clearfix">
						<h3 class="head-pet"><span>Recipe Search</span></h3>
						<form action="#" id="searchform" method="post">
								<p>
										<input type="text" name="2" id="s" class="field" value="Search for" />
										<input type="submit" name="s_submit" id="s-submit" value="" />
								</p>
						</form>
						<p class="statement"><span class="fireRed">Popular searches :</span> <a href="#">meatloaf recipes</a>, <a href="#">banana cake recipes</a>, <a href="#">cheesecake recipes</a>, <a href="#">carbonara recipes</a></p>
				</div><!-- end of top-search div-->
        
		        <!-- ============= CONTENT AREA STARTS HERE ============== -->
        		<div id="content">
                
                		<!-- SLIDER STARTS HERE -->
						<div id="slider" class="slider2">
								<div class="most-rated">
										<div class="item">
												<a href="#" class="img-box"><%= image_tag "slider/left_1.jpg", :alt => "Hotest" %></a>
												<h5><a href="#">The World's Best Sndwich Recipes here</a></h5>
												<p>For every fine wine, there's the perfect</p>
												<p class="rate">
														<span class="on"></span>
														<span class="on"></span>
														<span class="on"></span>
														<span class="off"></span>
														<span class="off"></span>
												</p>
										</div>
								</div>
								<h2 class="slider-head"><%= image_tag "slider-heading.png", :alt => "Top3 Recipes of the Day" %></h2>
								<p class="slogan">If food is an experience for you, then you will find it at the Food Recipe</p>
								<div class="slides right-slider">
										<ul>
												<li>
														<a href="#" class="img-box"><%= image_tag "slider/left_2.jpg", :alt => "Hotest" %></a>
														<div class="slide-info">
																<h2><a href="#">Do You Think You Know Real Shawarma</a></h2>
																<div class="rating">
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="off"></span>
																		<span>Average Member Rating: <span>4.0 / 5</span></span>
																</div>
																<p>For every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. For every fine wine, there’s the...</p>
																<a href="#" class="readmore">Read more</a>
														</div>
												</li>
												
												<li>
														<a href="#" class="img-box"><%= image_tag "slider/left_3.jpg", :alt => "Hotest" %></a>
														<div class="slide-info">
																<h2><a href="#">Yummy Chocolate Cake You Have Never Eaten</a></h2>
																<div class="rating">
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="off"></span>
																		<span>Average Member Rating: <span>4.0 / 5</span></span>
																</div>
																<p>For every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. For every fine wine, there’s the...</p>
																<a href="#" class="readmore">Read more</a>
														</div>
												</li>
												
												<li>
														<a href="#" class="img-box"><%= image_tag "slider/left_1.jpg", :alt => "Hotest" %></a>
														<div class="slide-info">
																<h2><a href="#">Special Pizza Recipe</a></h2>
																<div class="rating">
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="on"></span>
																		<span class="off"></span>
																		<span>Average Member Rating: <span>4.0 / 5</span></span>
																</div>
																<p>For every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. For every fine wine, there’s the...</p>
																<a href="#" class="readmore">Read more</a>
														</div>
												</li>
										</ul>
										<p class="sliderNav"><span></span></p>
								</div><!-- end of slides -->
						</div><!-- end of Slider div -->
						<!-- SLIDER AREA ENDS HERE -->
     				<div class="container">
         	  <%= bootstrap_flash %>
        	  <%= yield %>
		   			</div>
			     
            			<span class="w-pet-border"></span>
            
			            <div id="home-infos" class="clearfix">
			            	
				                <div class="wk-special clearfix">
					                	<h2 class="w-bot-border">Weekly <span>Special</span></h2>
					                    <div class="img-box">
					                    		<%= image_tag "hot-recipes/special.jpg",:alt =>"Weekly Special" %>
					                    </div>
					                    <h4><a href="#">Heading text goes here //</a></h4>
					                    <p>or every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. Mouth water recipes and <a href="#">...more</a></p>
					                    <span class="clearfix"></span><br />
				                    	<a href="#" class="readmore">Recent Weekly Specials</a>
				                </div>
			                
			                <div class="newsEvent">
				                	<h2 class="w-bot-border">News <span>&amp; Events</span></h2>
				                    <ul class="list">
				                    	
					                        <li>
					                        	<h5><a href="#">Heading will be appear here</a></h5>
					                            <p>For every fine wine, there’s the perfect pairing of oli ves and cheese. Discover oodles of great tips and pairings in our idea center<a href="#">...more</a></p>
					                        </li>
					                        
					                        <li>
					                        	<h5><a href="#">Heading will be appear here</a></h5>
					                            <p>For every fine wine, there’s the perfect pairing of oli ves and cheese. Discover oodles of great tips and pairings in our idea center<a href="#">...more</a></p>
					                        </li>
				                        
				                    </ul>
			                </div><!-- end of news div -->
			                
			                <div class="fav-recipes">
									<h2 class="w-bot-border">Favourite <span>Recipes</span></h2>
				                    <div class="bot-border">&nbsp;</div>
				                	<div class="tabed">
					                		<ul class="tabs clearfix">
						                			<li class="current">Popular</li>
						                		    <li>Recent</li>
						                            <li>Random</li>
					                		</ul>
					                		<div class="block current">
						                			<ul class="highest">
							                		    	<li>
								                		        	<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_1.jpg",:alt =>"Hotest" %></a>
								                		            <h5><a href="#">Best Indian Green Pepper Recipe</a></h5>
								                		            <p class="rate">
									                		            	<span class="on"></span>
									                		                <span class="on"></span>
									                		                <span class="on"></span>
									                		                <span class="off"></span>
									                		                <span class="off"></span>
									                		                (4.0 / 5)
								                		            </p>
							                		        </li>
							                		        <li>
								                		        	<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_2.jpg",:alt =>"Hotest" %></a>
								                		            <h5><a href="#">Contest Winner Chinees Soup</a></h5>
								                		            <p class="rate">
								                		            	<span class="on"></span>
								                		                <span class="on"></span>
								                		                <span class="off"></span>
								                		                <span class="off"></span>
								                		                <span class="off"></span>
								                		                (4.0 / 5)
								                		            </p>
							                		        </li>
							                		        <li>
								                		        	<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_3.jpg",:alt =>"Hotest" %></a>
								                		            <h5><a href="#">Best Vegitable Recipe</a></h5>
								                		            <p class="rate">
								                		            	<span class="on"></span>
								                		                <span class="off"></span>
								                		                <span class="off"></span>
								                		                <span class="off"></span>
								                		                <span class="off"></span>
								                		                (4.0 / 5)
								                		            </p>
							                		        </li>
						                		    </ul>
					                		</div><!-- end of block div -->
				                        
											<div class="block">
											        <ul class="recent">
											                <li>
											                        <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_4.jpg",:alt =>"Hotest" %></a>
											                        <h5><a href="#">Lorem Ipsum World's Best Recipe</a></h5>
											                        <p class="rate">
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="off"></span>
											                                (4.0 / 5)
											                </p>
											                </li>
											                <li>
											                        <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_5.jpg",:alt =>"Hotest" %></a>
											                        <h5><a href="#">Dolar It Somit Dolar Li Recipe</a></h5>
											                        <p class="rate">
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="off"></span>
											                                <span class="off"></span>
											                                (4.0 / 5)
											                        </p>
											                </li>
											                <li>
											                        <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_6.jpg",:alt =>"Hotest" %></a>
											                        <h5><a href="#">The World's Best Winning Recipe</a></h5>
											                        <p class="rate">
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                <span class="on"></span>
											                                (4.0 / 5)
											                        </p>
											                </li>
											        </ul>
											</div><!-- end of block div -->
											
											<div class="block">
											    <ul class="recent">
											        <li>
											                <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_7.jpg",:alt =>"Hotest" %></a>
											                <h5><a href="#">The World's Best Sndwich Recipes here</a></h5>
											                <p class="rate">
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="off"></span>
											                        (4.0 / 5)
											                </p>
											        </li>
											        <li>
											                <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_8.jpg",:alt =>"Hotest" %></a>
											                <h5><a href="#">The World's Best Bakery Recipes here</a></h5>
											                <p class="rate">
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="off"></span>
											                        <span class="off"></span>
											                        (4.0 / 5)
											                </p>
											        </li>
											        <li>
											                <a href="#" class="img-box"><%= image_tag "tiny-images/tiny_9.jpg",:alt =>"Hotest" %></a>
											                <h5><a href="#">The World's Best Sandwich</a></h5>
											                <p class="rate">
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        <span class="on"></span>
											                        (4.0 / 5)
											                </p>
											        </li>
											    </ul>
											</div><!-- end of block div -->
															                        
				                	</div><!-- end of tabed div -->
			                </div><!-- end of fav-recipes div -->
			                
			                <div class="ads-642x79">
			                		<%= image_tag "adv.jpg",:alt =>"advertising" %>
			                </div>
			                
			            </div><!-- end of home-infos div -->
            
        		</div><!-- end of content div -->
                
        		<!-- CONTENT ENDS HERE -->

                
		</div><!-- end of container div -->
		<div class="w-pet-border"></div>
<!-- ============= CONTAINER AREA ENDS HERE ============== -->



<!-- ============= BOTTOM AREA STARTS HERE ============== -->
	    <div id="bottom-wrap">
		    	<ul id="bottom" class="clearfix">
			        	<li>
				            	<div class="about">
					                	<a href="index.html"><%= image_tag "footer-logo.png", :alt => "Footer Logo",  :class =>"footer-logo" %></a>
					                    <p>For every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. For every fine wine, there’s the For every fine wine...</p>
					                    <a href="#" class="readmore">Read more About Us</a>
				                </div>
						</li>
						<li>
								<h2>Recent <span>Recipes</span></h2>
								<ul class="recent-posts">
										<li>
												<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_16.jpg",:alt =>"Image" %></a>
												<h5><a href="#">The World's Best</a></h5>
												<p>Sandwich Recipes here once there will be chnace of going to go</p>
										</li>
										
										<li>
												<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_17.jpg",:alt =>"Image" %></a>
												<h5><a href="#">The World's Best</a></h5>
												<p>Sandwich Recipes here once there will be chnace of going to go</p>
										</li>
								</ul>
						</li>
			            
			            <li>
								<h2>Twitter <span>Updates</span></h2>
								<ul id="twitter_update_list" class="twitter">
                                		<li>Unable to load tweets. Connection Problem</li>											
								</ul>
						</li>
			            
				</ul><!-- end of bottom div -->
	    </div><!-- end of bottom-wrap div -->
<!-- ============= BOTTOM AREA ENDS HERE ============== -->


<!-- ============= FOOTER STARTS HERE ============== -->	
        
        <div id="footer-wrap">
				<div id="footer">
						<p class="copyright">Copyright © 2011, Food Recipes - A Premium HTML Template</p>
						<p class="dnd">Designed <a href="http://themedesigner.in/">Sunil Joshi</a> and Developed by <a href="http://960development.com/"> Domikado </a></p>
				</div><!-- end of footer div -->
		</div><!-- end of footer-wrapper div -->
        
<!-- ============= FOOTER STARTS HERE ============== -->
    

</body>
</html>